.swiper-container {
  height: 330px;
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
}

.movie-description {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px 30px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
